@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  background-color: transparent;
}
h1 {
  font-family: "Lora", serif;
  font-size: 25px;
  color: #162641;
  margin-top: 40px;
}
p {
  font-family: "Roboto", sans-serif;
  color: #162641;
  font-size: 15px;
}
a,
span {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #162641;
}
span {
  color: grey;
}
h3 {
  color: #162641;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-top: 25px;
}
h3,
input {
  margin-left: 20px;
}
input {
  width: 200px;
  height: 40px;
  border: none;
}

form {
  display: flex;
  flex-direction: row;
}
.btn {
  border-radius: 0%;
  background-color: rgb(253, 38, 74);
  margin: 20px;
}
